$content-width: 800px;
$main: #2554C7;//#19CCAA; // turquise main thing
$font-style: 'Open Sans', sans-serif;
$font-color: #2B3856;
$link-color: #000080;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #151B54;
$light: #E7EDF4;
$header: #FAFAFA; //#1D1425;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 